// main colors
$background: #f4f4f2;
$surface: #ffff;
$primary: #ff6633;
$secondary: #70c05b;

$background-text: #291e0f;
$surface-text: #414141;
$primary-text: #ffff;

// grayscale
$lightest: #f3f2f1;
$light: #bfbfbf;
$hard: #8f8f8f;
$hardest: #606060;

// pallete
$succes: #008c49;
$info: #1cb9fc;
$warning: #fca21c;
$error: #d80000;